body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 300 1.4rem/1.86 Poppins,sans-serif;
  color: #666;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-y: auto;
}
button {
  background: none;
  border: none;
}
input {
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
}
input::slotted{
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, a:focus, a:hover {
  text-decoration: none;
}
.h6, h6 {
  font-size: 1.6rem;
  letter-spacing: -.01em;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

